<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

<% form_for :user, :html => { :multipart => true } do |f| %>
	<%= f.file_field :upload %>
<% end %>
